{% extends 'main.html' %}
{% load static %}
{% block title %}
search
{% endblock %}
{% block content %}
<h3>Your searched products for <span class="text-primary">{{request.GET.search_keyword}}</span>..</h3>
<div style="margin-top: 30px; margin-bottom: 300px;">
    <div class="row">
        {% for product in searched_products %}
        <div class="col-md-2 mb-3 ml-0 pl-0 pr-0">
            <div class="card" style="height:240px; max-width: 192px;">
                <img class="card-img-top" style="height: 110px; max-width: 190px;" src="{{product.imageURL}}" alt="Card image cap">
                <div class="card-body">
                    <h6><strong>{{product.name}}</strong></h6>
                    <h6 style="">Price: ${{product.price|floatformat:2}}</h6>
                    <button data-product={{product.id}} data-action="add" class="btn btn-sm btn-outline-secondary add-btn update-cart ml-0 mr-0">Add to Cart</button>
                    <a href="#" class="btn btn-sm btn-outline-success">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}