{% extends 'main.html' %}
{% block title %}
password reset
{% endblock title %}
{% block content %}
<div class="row container justify-content-center">
    <h4 class="text-center text-secondary mt-5">Enter the email address that you used during the account creation to reset your password.</h4>
    <div class="col-md-5" style="margin-top: 20px; margin-bottom: 300px;">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div form-group>
                {{field.label}}
                {{field}}
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-sm mt-2">Get Link</button>
        </form>
        {% if form.errors %}
        <p>There is no user registered with the specified email address. Please enter valid email address.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}