{% extends 'main.html' %}
{% block title %}
confirm password
{% endblock title %}
{% block content %}
<div class="row container justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-5 align-content-center">
        <h4 class="text-secondary   mt-5  ">Enter a strong password to ensure your account security.</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div form-group>
                {{field.label}}
                {{field}}
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-sm mt-2">Submit</button>
        </form>
        {% if form.errors %}
        <p><li> The two passwords didn't match.</li></p>
        {% endif %}
    </div>
</div>
{% endblock content %}